/* ==|== mvcbloggy styles ========================================
   ========================================================================== */

#mvcbloggy-wrapper{position:relative;}
#mvcbloggy-innerwrapper{}

#header-left{float:left;}
#header-right{float:right;}
#mvcbloggy-title{}
#mvcbloggy-slogan{}
#mvcbloggy-feedburner{}