<div id="mvcbloggy-cultureswitcher">
    @Html.Partial("_CultureSwitcher")
</div>
<table id="mvcbloggy-feedburner">
    <tbody>
        <tr>
            <td>
            <a target="_blank" class="no-border-img-link" href="http://feeds.feedburner.com/TugberkUgurlu">
                <img alt="rss" title="Subscribe Rss Feed !" src="http://www.tugberkugurlu.com/Content/App_Icons/icon-feed-28x28.png" />
            </a>
            </td>
            <td>
            <a target="_blank" href="http://feeds.feedburner.com/tugberkugurlu">
                <img src="http://feeds.feedburner.com/~fc/TugberkUgurlu?bg=FF6600&amp;fg=FFFFFF&amp;anim=1" height="26" width="88" style="border:0" alt="" />
            </a>
            </td>
        </tr>
    </tbody>
</table>