/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width:1098px) {
          
    .search-box, .search-buton{padding:1%;}
    .search-box{width:78%;}
          
    #mvcbloggy-title{font-size:18px;}
    #mvcbloggy-slogan{font-size:9px;}
          
    #sidebar{float:none;width:98%;padding:10px 1%;}
    #mainbar{width:98%;border-top:2px solid #D0D0D0;border-right:none;}
          
    #mvcbloggy-monthlyarchive{padding:0;margin:10px 0;}
    #mvcbloggy-monthlyarchive li{padding:0;margin:4px 5px 4px 0;list-style:none;display:block;float:left;}

    footer {
        font-size:11px;
        text-align:center;
    }
    #mvcbloggy-footerLeft, #mvcbloggy-footerRight{float:none;}
    #mvcbloggy-footerRight {
        margin-top:10px;
    }
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}