@model PaginatedDto<BlogPostDto>
@{
    ViewBag.Title = "Index";
}

@if (Model.Dtos.Count() > 0) { 
    
    foreach (var item in Model.Dtos) {
        <h1>@item.Title</h1>
    }
    
    @MvcBloggyHelpers.Pager(Model)
    
} else {
    
    <div class="alert alert-block">
        @Strings.NoBlogPostsFound
    </div>
}