@model PaginatedDto<BlogPostDto>
@{
    ViewBag.Title = "Index";
}

@if (Model.Dtos.Count() > 0) { 
    <ul>
        @foreach (var item in Model.Dtos) {
            <li>@item.Title</li>
        }
    </ul>
} else {
    <div class="alert alert-block">
        Oh snap! We couldn't find any blog posts :(
    </div>
}