
**/*.suo
**/*.user
bin
obj
_ReSharper*
dist
output
build

*.csproj.user

*.resharper.user
*.ReSharper.user
*.resharper

*.suo

*~

*.swp
TestResult.xml


*.dropbox
desktop.ini