
**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*
dist
output
build

*.csproj.user

*.resharper.user
*.ReSharper.user
*.resharper

*.suo

*.dropbox
desktop.ini

*~

*.swp
TestResult.xml