@inherits MvcBloggy.Web.Infrastructure.Mvc.HelperPage
@using MvcBloggy.API.Model.Dtos;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using MvcBloggy.Resources;

@helper Pager(IPaginatedDto<IDto> paginatedDto) {
    
    <ul class="pagination">
        @if(paginatedDto.HasPreviousPage) { 
            <li>
                @Html.ActionLink(
                    Strings.Previous,
                    RouteData.Values["action"].ToString(), 
                    new { 
                        controller = RouteData.Values["controller"], 
                        page = paginatedDto.PageIndex - 1
                    }
                )
            </li>
        }

        @if (paginatedDto.TotalPageCount >= 2) {
            int totalPageNumber = 0;
            for (int index = 1; index <= paginatedDto.TotalPageCount; index++) {
                
                string cssClass = (paginatedDto.PageIndex == index) ? "active" : null;
                <li class="@cssClass">
                    @Html.ActionLink(
                        index.ToString(),
                        RouteData.Values["action"].ToString(), 
                        new { 
                            controller = RouteData.Values["controller"], 
                            page = index
                        }
                    )
                </li>
                totalPageNumber++;
            }
        }

        @if(paginatedDto.HasNextPage) { 
            <li>
                @Html.ActionLink(
                    Strings.Next,
                    RouteData.Values["action"].ToString(), 
                    new { 
                        controller = RouteData.Values["controller"], 
                        page = paginatedDto.PageIndex + 1
                    }
                )
            </li>
        }
    </ul>
}