<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MvcBloggyContext" connectionString="metadata=res://*/DataAccess.SqlServer.MvcBloggyContext.Model.csdl|res://*/DataAccess.SqlServer.MvcBloggyContext.Model.ssdl|res://*/DataAccess.SqlServer.MvcBloggyContext.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=MvcBloggy.SqlServer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>