<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MvcBloggyEntities" connectionString="metadata=res://*/DataAccess.SqlServer.MvcBloggyModel.csdl|res://*/DataAccess.SqlServer.MvcBloggyModel.ssdl|res://*/DataAccess.SqlServer.MvcBloggyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TugberkUg.MvcBloggy_RC1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/DataAccess.SqlServer.MvcBloggy.Model.csdl|res://*/DataAccess.SqlServer.MvcBloggy.Model.ssdl|res://*/DataAccess.SqlServer.MvcBloggy.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TugberkUg.MvcBloggy_RC1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>